/* Container */
[data-type="bootstrap-custom-theme/container"] {
  position: relative;
  padding: 20px;
}

/* Editor only styling */
.block-editor-block-list__block[data-type="bootstrap-custom-theme/container"] {
  border: 1px dashed #ddd;
}

/* Row */
[data-type="bootstrap-custom-theme/row"] {
  position: relative;
  padding: 15px;
}

/* Row */
.block-editor-block-list__block[data-type="bootstrap-custom-theme/tabs"]>.nav.nav-tabs>.block-editor-inner-blocks {
  /* Your styles here */
  width: 80%;
}


/* Editor only styling */
.block-editor-block-list__block[data-type="bootstrap-custom-theme/row"] {
  border: 1px dashed #ddd;
}

/* Column */
[data-type="bootstrap-custom-theme/column"] {
  position: relative;
  padding: 10px;
}

/* Editor only styling */
.block-editor-block-list__block[data-type="bootstrap-custom-theme/column"] {
  border: 1px dashed #ddd;
}

/* Hover effect for better visual */
.block-editor-block-list__block[data-type="bootstrap-custom-theme/container"]:hover,
.block-editor-block-list__block[data-type="bootstrap-custom-theme/row"]:hover,
.block-editor-block-list__block[data-type="bootstrap-custom-theme/column"]:hover {
  border-color: #ff4949;
}