/* Style for each tab item */
.nav-link {
    padding: 10px;
    font-weight: bold;
  }
  /* Custom CSS for Tab Styles */
.nav-pills .nav-link.active {
  background-color: #007bff;
}

.nav-tabs .nav-link.active {
  border-color: #007bff;
}
