.wp-block-bootstrap-custom-theme-tabs .nav-link {
    cursor: pointer;
  }
  
  .wp-block-bootstrap-custom-theme-tabs .tab-content {
    margin-top: 1em;
  }
  
  .wp-block-bootstrap-custom-theme-tabs .tab-pane {
    padding: 1em;
    border: 1px solid #ddd;
    border-top: none;
  }
  