/* Style the gear icon */
.wp-block-bootstrap-custom-theme-container .components-button {
	position: absolute;
	top: 0px;
	right: 10px;
	z-index: 999;
}

/* Customize modal appearance */
.custom-modal .modal-header {
	cursor: move;
	font-weight: bold;
}
